.header {
    border-bottom: 1px solid #ECECEC;
    @include tablet {
        .container {
            display: flex;
            justify-items: center;
            align-items: center;
        }
    }
    .container {
            display: flex;
            justify-items: center;
            align-items: center;
        }
}

.header__logo {
    margin-top: 16px;
    margin-bottom: 16px;
    @include tablet {
        margin-right: 93px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.main-nav {
    display: flex;
    align-items: center;
    &__item:not(:last-child) {
            margin-right: 50px;
        }
}

.main-nav__list {
    display: none;
    @include tablet {
        display: flex;
    }
}

.main-nav__open-btn {
    margin-left: auto;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    @include tablet {
        display: none;
    }
}

.main-nav__icon {
    fill: #000000;
    transition: fill var(--transition-options);
    .main-nav__open-btn:hover &,
    .main-nav__open-btn:focus & {
            fill: var(--accent-color);
    }
    @include tablet {
        display: none;
    }
}

.mob__menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    .container {
        display: block;
    }
}

.menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:transparent;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mob__icon-close {
    fill: #000000;
    transition: fill var(--transition-options);
    .menu__close-btn:hover &,
    .menu__close-btn:focus & {
            fill: var(--accent-color);
        }
}

.contact__list {
    display: none;
    @include tablet {
        display: inline;
        margin-left: auto;
    }
    @include desktop {
        display: flex;
    }
}

@include tablet {
    .contact__item + .contact__item {
    margin-top: 10px;
}
}

@include desktop {
    .contact__item + .contact__item {
    margin-left: 50px;
}
}

.main-nav__link {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-options);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

@include tablet {
    .present::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
}


.contact__mail,
.contact__tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    transition: color var(--transition-options);
    &:hover,
    &:focus,
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
    @include desktop {
        font-size: 14px;
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contact__mail-icon {
    padding: 0;
    margin-left: 0;
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: color var(--transition-options);
    .contact__mail:hover & {
            fill: var(--accent-color)
        }    
    .contact__mail:focus & {
            fill: var(--accent-color)
        }
}

.contact__tel-icon {
    width: 10px;
    height: 16px;
    padding: 0;
    margin-left: 0;
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: color var(--transition-options);
    .contact__tel:hover & {
            fill: var(--accent-color)
        }    
    .contact__tel:focus & {
            fill: var(--accent-color)
        }
}

.current {
    color: var(--accent-color);
}