.portfolio__list {
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
}

.portfolio__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__btn {
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    transition: color var(--transition-options), background-color var(--transition-options), box-shadow var(--transition-options);
    &:hover,
    &:focus,
    &.current {
            color: #ffffff;
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.projects__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    display: block;
    transition: box-shadow var(--transition-options);
    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.card {
    position: relative;
    overflow: hidden;
}

.card__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform var(--transition-options);
    .projects__item:hover & {
            transform: translateY(0%);
        }
}

.card__box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}